/* GLOBAL STYLES */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}

*:focus {
    outline: 2px dotted rgba(222, 46, 84, 1);
    outline-offset: 2px;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE HEADER  */

.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SITE-LOGO  */

.site-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #222;
    text-decoration: none;
}

.site-logo:hover {
    color: rgba(222, 46, 84, 1);
}

.site-logo:active {
    opacity: 0.6;
}

.site-logo-site-footer {
    color: #fff;
}

.site-logo-site-footer:active {
    color: #fff;
}

.site-logo-img {
    margin-right: 16px;
    border-radius: 50%;
}

/* SITENAV */

.sitenav {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.sitenav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-link {
    display: block;
    color: #222;
    text-decoration: none;
}

.sitenav-site-footer .sitenav-link {
    color: #fff;
}

.sitenav-site-footer .sitenav-link:hover {
    color: #de2e54;
}

.sitenav-site-footer .sitenav-link:active {
    color: #fff;
    opacity: 0.6;
}

.sitenav-link:hover {
    color: rgba(222, 46, 84, 1);
}

.sitenav-link:active {
    opacity: 0.6;
}

/* MAIN LINK  */

.main-link {
    display: inline-block;  
    padding: 10px 22px;
    border-radius: 8px;
    border: 2px solid  #de2e54;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: rgba(222, 46, 84, 1);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.main-link:hover {
    background-color: #fff;
    color: #de2e54;
}

.main-link:active {
    background-color: rgba(222, 46, 84, 1);
    color: #fff;
    opacity: 0.6;
}

.main-link-solid:hover {
    border-color: transparent;
    color: #fff;
    background-color: rgba(222, 46, 84, 0.8);
}

.main-link-solid:active {
    background-color: rgba(222, 46, 84, 0.6);
    opacity: 1;
}

.main-link-outline {
    background-color: #0EB4C1;
    border-color: #fff;
    color: #fff;
}

.main-link-outline:hover {
    border-color: transparent;
    background-color: #de2e54;
    color: #fff;
}


/* HERO */

.hero {
    background-color: rgba(14, 180, 193, 1);
    color: #fff;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-text {
    width: 440px;
    margin-top: 0;
    margin-bottom: 36px;
}

.hero-img {
    align-self: flex-end;
}

/* INDEX-SERVICES */

.index-services {
    padding-top: 120px;
    padding-bottom: 120px;
}

.index-services-heading {
    margin-bottom: 56px;
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
}

.index-services-list {
    width: 864px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.index-services-item:not(:last-child) {
    margin-bottom: 80px;
}

.index-service {
    display: flex;
    align-items: center;
}

.index-service-img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    object-fit:cover;
    margin-right: 64px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.index-service-content {
    width: 600px;
}

.index-service-title {
    margin-top: 0;
    margin-bottom: 24px;
    color: #222;
}

.index-service-description {
    margin: 0;
}

.index-sevices-actions {
    display: flex;
    justify-content: center;
    padding-top: 97px;
}

/* CTA  */

.cta {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: rgba(14, 180, 193, 1);
    color: #fff;
}

.cta-heading {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    line-height: 120%;
}

.cta-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-links-item:not(:last-child) {
    margin-right: 40px;
}

/* SITE-FOOTER */

.site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
}

.site-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}